<header class="header">
  <p class="header-title">
    <a href="https://github.com/FountainJS/generator-fountain-webapp" target="_blank">
      Fountain Generator
    </a>
  </p>
  <p class="header-date">
    Generated with FountainJS v1.0.0-rc2 on Sat Jan 28 2017 20:47:18 GMT+1100 (AEDT)
  </p>
</header>